$chakra: 'Chakra Petch', sans-serif;
$open: 'Open Sans', sans-serif;
$aguamarina: #0F5F75;
$verde: #38D74F;
$amarillo: #F0E74A;
$naranja: #FFA536;
$rojo: #f01119;

html {
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 7px;
    }
    ::-webkit-scrollbar-track {
        background-color: $aguamarina;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $naranja;
    }
}
body {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    ul, h1, h2, h3, h4, h5 {
        margin: 0;
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}

#display-menu {
    display: none;
    &:checked {
        &~header .mobile-menu {
            left: 0;
        }
        &~header .menu-icon {
            span {
                &:nth-child(1) {
                    transform: translateX(-5px) rotate(-45deg) translateY(13px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateX(-5px) rotate(45deg) translateY(-13px);
                }
            }
        }
    }
}

header {
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: $chakra;
    color: rgb(197, 197, 197);
    background-color: rgb(27, 26, 26);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .first {
        width: 100%;
        padding: 10px 0;
        h2 {
            font-style: oblique;
            color: $naranja;
            transition: 0.3s ease-out;
            &:hover {
                color: $rojo;
            }
        }
        .title {
            width: 25%;
        }
        .form {
            display: none;
            width: 45%;
            form {
                width: 100%;
                margin: auto;
                .form-wrapper {
                    width: 100%;
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 3px;
                    input {
                        border: none;
                        margin-left: 5px;
                        width: 100%;
                        &:focus {
                            outline: none;
                        }
                    }
                    button {
                        border: none;
                        background-color: $naranja;
                        color: $aguamarina;
                        width: 34px;
                        height: 34px;
                        border-radius: 0 3px 3px 0;
                        transition: 0.3s linear;
                        &:hover {
                            color: $naranja;
                            background-color: $aguamarina;
                        }
                    }
                }
            }
        }
        .sesion {
            display: flex;
        }
        .menu-icon {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 28px;
            margin-left: 10px;
            cursor: pointer;
            span {
                width: 26px;
                height: 2px;
                background-color: $naranja;
                transition: 0.5s ease-in-out;
            }
        }
        nav {
            display: flex;
            justify-content: flex-end;
            ul {
                li {
                    margin-left: 10px;
                    position: relative;
                    font-size: 1.1rem;
                    &:first-child {
                        margin-left: 0;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -1px;
                        left: 0;
                        background-color: $aguamarina;
                        transition: 0.3s ease-out;
                    }
                    &:hover {
                        color: white;
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .second {
        display: none;
        width: 100%;
        background-color: rgb(37, 37, 37);
        nav {
            ul {
                height: 100%;
                li {
                    height: 100%;
                    padding: 4px;
                    transition: 0.3s ease-out;
                    &:hover {
                        background-color: $aguamarina;
                        color: white;
                    }
                }
            }
        }
    }
    .categorias {
        width: fit-content;
        transition: 0.3s ease-out;
        button {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            background-color: transparent;
            border: none;
            height: 100%;
            transition: inherit;
            color: inherit;
            padding: 3px;
            &:focus {
                outline: none;
            }
            i {
                margin-left: 7px;
                transition: inherit;
            }
        }
        &:hover {
            button {
                background-color: $aguamarina;
                color: whitesmoke;
                i {
                    transform: rotate(180deg);
                }
            }
            .drop {
                display: flex;
                animation: display-menu 0.5s ease-out forwards;
            }
        }
        .drop {
            width: 200px;
            display: none;
            flex-wrap: wrap;
            position: absolute;
            background-color: #252525;
            color: whitesmoke;
            z-index: 1;
            opacity: 0;
            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 3px 8px;
                width: 100%;
                transition: 0.3s ease-out;
                &:hover {
                    color: $naranja;
                }
            }
        }
    }
    .mobile-menu {
        position: fixed;
        top: 58px;
        background-color: rgb(27, 26, 26);
        width: 250px;
        height: calc(100vh - 58px);
        left: -100%;
        transition: 0.5s ease-in-out;
        input {
            display: none;
        }
        ul {
            display: block;
            padding: 10px;
            .drop {
                display: none;
                margin-left: 20px;
                font-size: 1.1rem;
                a {
                    display: block;
                }
            }
            #display-cats:checked {
                &~.drop {
                    display: block;
                }
            }
            li {
                font-size: 1.2rem;
                padding: 1px;
                transition: 0.3s ease-out;
                label {
                    i {
                        margin-left: 10px;
                    }
                }
                &:hover {
                    color: $aguamarina;
                }
            }
        }
    }
}

.contenido {
    margin-top: 58px;
}
.slider {
    width: 100%;
    height: 40vh;
    overflow-x: hidden;
    background-color: red;
    position: relative;
    #slide-wrapper {
        display: flex;
        width: 400%;
        height: 100%;
        transition: margin 0.5s ease-out;
        .slide {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .desc {
                width: 80%;
                position: absolute;
                bottom: 30px;
                right: 0;
                text-align: center;
                color: whitesmoke;
                z-index: 0;
                padding: 5px;
                &::before {
                    content: "";
                    width: 90vw;
                    height: 100%;
                    position: absolute;
                    background-color: black;
                    opacity: 0.8;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 10% 100%);
                }
                h4 {
                    color: $naranja;
                }
                p {
                    display: none;
                    a {
                        display: initial;
                        position: initial;
                        &::before {
                            width: 0;
                            height: 0;
                        }
                        &:hover {
                            color: $naranja;
                        }
                    }
                }
            }
        }
        #slide-1 {
            background-image: url(../imgs/machines.jpg);
        }
        #slide-2 {
            background-image: url(../imgs/paints.jpg);
        }
        #slide-3 {
            background-image: url(../imgs/repo.jpg);
        }
        #slide-4 {
            background-image: url(../imgs/envios.jpg);
        }
        a {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $aguamarina;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                opacity: 0;
                background-color: black;
                border-radius: 0 5px 5px 0;
                transition: 0.3s ease-out;
            }
            i {
                font-size: 2.75rem;
                margin-left: -5px;
            }
            &:hover {
                &::before {
                    opacity: 0.4;
                }
            }
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
            &::before {
                border-radius: 5px 0 0 5px;
            }
            i {
                margin-left: 5px;
            }
        }
    }
    #current {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .indicator {
            background-color: $aguamarina;
            width: 35px;
            height: 4px;
            margin-left: 10px;
            cursor: pointer;
            transition: 0.3s ease-out;
            &:nth-child(1) {
                margin-left: 0;
            }
            &:hover {
                background-color: black;
            }
        }
    }
}

.contenido .container {
    h2 {
        margin: 10px 0;
        padding: 5px;
        background-color: rgb(44, 43, 43);
        color: whitesmoke;
        font-family: $chakra;
        border-radius: 3px;
    }
    .wrapper {
        width: 100%;
        overflow-x: scroll;
        color: white;
        &::-webkit-scrollbar {
            height: 8px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: lightgrey;
        }
        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 2.5px white;
            border-radius: 5px;
            background-color: $naranja;
        }
        .lista {
            display: flex;
            justify-content: space-evenly;
            width: calc(250px * 6 + 15px * 6);
            padding: 5px 0;
            margin-bottom: 3px;
            a {
                width: 250px;
                color: black;
                font-size: 1rem;
                &:nth-of-type(1) {
                    .item {
                        background-image: url(../imgs/amoladora.jpg);
                    }
                }
                &:nth-of-type(2) {
                    .item {
                        background-image: url(../imgs/kit.jpg);
                    }
                }
                &:nth-of-type(3) {
                    .item {
                        background-image: url(../imgs/mechas.jpg);
                    }
                }
                &:nth-of-type(4) {
                    .item {
                        background-image: url(../imgs/ladrillo.png);
                    }
                }
                &:nth-of-type(5) {
                    .item {
                        background-image: url(../imgs/taladro.jpg);
                    }
                }
                &:nth-of-type(6) {
                    .item {
                        background-image: url(../imgs/destornilladores.jpg);
                    }
                }
                .item {
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 250px;
                    border: 0.1px solid $naranja;
                    border-radius: 3px;
                    position: relative;
                }
                .item::before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    background-color: $rojo;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50% -50%);
                    opacity: 0;
                    transform: scale(0);
                    transition: all 0.4s ease-out;
                }
                .item::after {
                    content: "Ver más";
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    text-align: center;
                    top: 50%;
                    color: white;
                    font-family: $chakra;
                    font-size: 3rem;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: opacity 0.3s ease-out;
                }
                &:hover {
                    color: $rojo;
                    .item::before {
                        transform: scale(1);
                        background-color: $naranja;
                        opacity: 0.8;
                    }
                    .item::after {
                        opacity: 1;
                    }
                }
                p {
                    text-align: center;
                }
                span {
                    font-family: $chakra;
                    font-size: 1.5rem;
                    color: $rojo;
                }
            }
        }
    }
    .wrapper:nth-of-type(2) {
        &::-webkit-scrollbar-thumb {
            background-color: $rojo;
        }
        .lista {
            .viejo{
                text-decoration: line-through;
                font-size: 14px;
                color: grey;
            }
            .nuevo{
                font-size: 24px;
                color: $rojo;
            }
            a {
                width: 250px;
                &:nth-child(1) {
                    .item {
                        background-image: url(../imgs/pincel.jpg);
                    }
                }
                &:nth-child(2) {
                    .item {
                        background-image: url(../imgs/taladro2.jpg);
                    }
                }
                &:nth-of-type(3) {
                    .item {
                        background-image: url(../imgs/martillo.jpg);
                    }
                }
                &:nth-of-type(4) {
                    .item {
                        background-image: url(../imgs/lijadora.jpg);
                    }
                }
                &:nth-child(5) {
                    .item {
                        background-image: url(../imgs/regla.jpg);
                    }
                }
                &:nth-child(6) {
                    .item {
                        background-image: url(../imgs/aceitadora.jpg);
                    }
                }
                .item {
                    border: 0.1px solid $rojo;                    
                }
                .item::before {
                    background-color: $naranja;
                }
                .item::after {
                    content: "Comprar";
                }
                &:hover {
                    color: $aguamarina;
                    .item::before {
                        background-color: $rojo;
                    }
                }
            }
        }
    }
}


footer {
    width: 100%;
    color: whitesmoke;
    font-family: $open;
    .wrapper {
        background-color: #252525;
        &:nth-of-type(2)  {
            background-color: rgb(44, 43, 43);
            .container {
                justify-content: space-between;
                align-items: center;
                background-color: inherit;
                img {
                    width: 50px;
                    padding: 5px 0;
                }
            }
        }
    }
    .container {
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(37, 37, 37);
        div {
            padding: 5px;
            h5 {
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 550;
                margin-bottom: 5px;
            }
            p, li {
                font-size: 0.7rem;
                padding-left: 3px;
                margin-bottom: 2px;
                color: grey;
            }
            ul {
                li {
                    list-style: none;
                }
            }
            a {
                &:hover {
                    color: whitesmoke;
                }
            }
        }
        .map {
            display: none;
        }
        .soporte, .información, .cuenta, .ubicacion {
            margin-top: 5%;
        }
        .ubicacion {
            width: 150px;
        }
    }
}

@keyframes display-menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    header {
        .first {
            .form {
                display: initial;
            }
            .sesion {
                width: 25%;
            }
            .menu-icon {
                display: none;
            }
        }
        .second {
            display: block;
        }
    }
    .contenido {
        margin-top: 92px;
    }
}

@media only screen and (min-width: 992px) {
    .contenido {
        .slider {
            height: 65vh;
            #slide-wrapper {
                .slide {
                    .desc {
                        width: 50%;
                        display: flex;
                        flex-wrap: wrap;
                        text-align: right;
                        padding-right: 15px;
                        &::before {
                            width: 60vw;
                        }
                        h4, p {
                            display: initial;
                            width: 100%;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
    footer {
        .container {
            div {
                h5 {
                    font-size: 1rem;
                }
                li, p {
                    font-size: 0.9rem;
                }
                
            }
            .map {
                display: initial;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    html {
        font-size: 20px;
    }
    h4 {
        font-size: 1.25rem;
    }
    .contenido {
        margin-top: 108px;
    }
}