body {
    background-image: url(../imgs/repo.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    position: initial;
    padding: 0 0 0 15px;
    h2 {
        font-size: 2.2rem;
        transition: color 0.3s ease-out;
        &:hover {
            color: #BA1319;
        }
    }
}
.contenido {
    color: whitesmoke;
    margin: 5% 0;
    .container {
        padding: 15px;
        background-color: #051A2B;
        h3 {
            margin-bottom: 10px;
            border-bottom: 2px solid #0F5F75;
        }
        ul {
            padding-left: 25px;
        }
        ul, p {
            margin-left: 5px;
        }
        p a, ul a {
            color: #FFA536;
            font-weight: 600;
        }
        div {
            display: flex;
            width: fit-content;
            height: fit-content;
            margin: 15px 0 0 auto;
            a {
                padding: 10px;
                color: #0F5F75;
                min-width: 100px;
                text-align: center;
                background-color: whitesmoke;
                border: 3px solid #0F5F75;
                font-weight: bold;
                position: relative;
                z-index: 0;
                transition: 0.5s ease-out;
                &:first-child {
                    margin-right: 15px;
                }
                &::before {
                    content: "";
                    position: absolute;
					width: 0;
					margin-left: 50%;
                    height: calc(100% + 4px);
                    z-index: -1;
                    background-color: #0F5F75;
                    top: -2px;
                    left: -2px;
                    transition: inherit;
                    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
                }
                &:hover {
                    color: whitesmoke;
                    &::before {
						margin-left: 0;
						width: calc(100% + 4px);
						clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                    }
                }
                &:focus {
                    background-color: white;
                    color: #0F5F75;
                    transition-delay: 0.5s;
                    outline: none;
                    &::before {
                        width: 0;
                        margin-left: 50%;
                    }
                }
            }
        } 
    }
}

@media only screen and (min-width: 768px) {
    .contenido {
        margin: 5% 0;
    }
}
@media only screen and (min-width: 1600px) {
    .contenido {
        margin: 5% 0;
    }
}