$aguamarina: #0F5F75;
$verde: #38D74F;
$amarillo: #F0E74A;
$naranja: #FFA536;
$rojo: #f01119;

$opensans: 'Open Sans', sans-serif;
$teko: 'Teko', sans-serif;

html {
    scroll-behavior: smooth;
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $opensans;
    background-image: url(../imgs/repo.jpg);
    background-size: cover;
    background-repeat: none;
}

.contenedor {
    width: 100%;
}

header {
    width: 100%;
    .contenedor {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgb(27, 26, 26);
        align-items: center;
        color: $amarillo;
        font-family: $teko;
    }
    .first {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 50px;
        #enlace1{
            margin-bottom: 120px;
            font-size: 4rem;
            height: 38px;
            margin-top: 50px;
            cursor: pointer;

        }
        #enlace1{
            color: $amarillo;
            i {
            font-size: 0.8rem;
            }
        }
        #enlace1:hover {
            color: $verde;
        }
    }
}

section{
    width: 100%;
    display: flex;
    form{
        width: 660px;
        display: flex;
        padding: 50px;
        align-items: center;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 5px;
        margin: auto;
        margin-top: 100px;
        h2{
            width: 100%;
            font-family: Tahoma, Geneva, sans-serif;
        }
        #nombre{
            padding: 12px 20px;
            margin-top: 40px;
            border: none;
            border-bottom: 2px solid grey;
            box-sizing: border-box;
            width: 45%;
            font-family: $opensans;
            font-size: 18px;
        }
        #apellido{
            padding: 12px 20px;
            margin: 8px 0;
            margin-top: -50px;
            margin-left: 50%;
            border: none;
            border-bottom: 2px solid grey;
            box-sizing: border-box;
            width: 45%;
            font-family: $opensans;
            font-size: 18px;
        }
        #mail{
            padding: 12px 20px;
            margin: 8px 0;
            margin-top: 40px;
            border: none;
            border-bottom: 2px solid grey;
            box-sizing: border-box;
            width: 45%;
            font-family: $opensans;
            font-size: 18px;
        }
        #contraseña{
            padding: 12px 20px;
            margin: 8px 0;
            margin-top: -57px;
            margin-left: 50%;
            border: none;
            border-bottom: 2px solid grey;
            box-sizing: border-box;
            width: 45%;
            font-family: $opensans;
            font-size: 18px;
        }
        #mail:hover{
            border-bottom: 2px solid black;
        }
        #mail:focus {
            background-color: rgb(248, 248, 180);
            border: 1px solid black;
        }
        #nombre:hover{
            border-bottom: 2px solid black;
        }
        #nombre:focus {
            background-color: rgb(248, 248, 180);
            border: 1px solid black;
        }
        #apellido:hover{
            border-bottom: 2px solid black;
        }
        #apellido:focus {
            background-color: rgb(248, 248, 180);
            border: 1px solid black;
        }
        #contraseña:hover{
            border-bottom: 2px solid black;
        }
        #contraseña:focus {
            background-color: rgb(248, 248, 180);
            border: 1px solid black;
        }
        .ingresar{
            background-color: white;
            width: 100%;
            height: 100%;
            border: none;
            padding: 13px;
            color: $aguamarina;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin-top: 30px;
            border-radius: 5px;
            cursor: pointer;
            font-family: $opensans;
            transition: all 1s ease;
        }
        a:link{
            color: $aguamarina;
        }
        a:visited{
            color: $aguamarina;
        }
        .ingresar:hover{
            background: $aguamarina;
            color: #fff;
            a:link{
                color: white;
            }
            a:visited{
                color: white;
            }
        }
        .registrar{
            background-color: white;
            width: 100%;
            height: 100%;
            border: none;
            padding: 13px;
            color: $aguamarina;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin-top: 30px;
            border-radius: 5px;
            cursor: pointer;
            font-family: $opensans;
            transition: all 1s ease;
        }
        .registrar:hover{
            background: $aguamarina;
            color: #fff;
            a:link{
                color: white;
            }
            a:visited{
                color: white;
            }
        }
    }
}

footer {
    width: 100%;
    color: whitesmoke;
    margin-top: 150px;
    .contenedor {
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(37, 37, 37);
        div {
            padding: 5px;
            h5 {
                
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 550;
                margin-bottom: 5px;
            }
            p, li {
                font-size: 0.6rem;
                padding-left: 3px;
                margin-bottom: 2px;
                color: grey;
            }
            ul {
                li {
                    list-style: none;
                }
            }
            a {
                color: inherit;
                &:hover {
                    color: white;
                }
            }
        }
        .map {
            display: none;
        }
        .soporte, .información, .cuenta, .ubicacion {
            margin-top: 5%;
        }
        .ubicacion {
            width: 150px;
        }
    }
    .contenedor:nth-of-type(2) {
        justify-content: space-between;
        align-items: center;
        background-color: rgb(44, 43, 43);
        img {
            width: 50px;
            padding: 5px 0;
        }
    }
}

@keyframes switch {
    0% {margin-left: 0;}
    22% {margin-left: 0;}
    25% {margin-left: -100%;}
    47% {margin-left: -100%;}
    50% {margin-left: -200%;}
    72% {margin-left: -200%;}
    75% {margin-left: -300%;}
    97% {margin-left: -300%;}
    100% {margin-left: 0;}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contenedor {
        width: 80%;
        margin: 0 10%;
    }
    header {
        .contenedor {
            box-sizing: content-box;
            padding: 5px 10%;
            margin: 0;
        }
    }
    footer {
        .contenedor {
            justify-content: space-between;
            box-sizing: content-box;
            padding: 5px 10%;
            margin: 0;
        }
    }
}

/* Dispositivos grandes (laptops/PCs, +992px) */
@media only screen and (min-width: 992px) {
    footer {
        .contenedor {
            div {
                h5 {
                    font-size: 1rem;
                }
                li, p {
                    font-size: 0.9rem;
                }
                
            }
            .map {
                display: initial;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
    header .first {
        a {
            margin-top: -10px;
            margin-bottom: 5px;
        }
    }
}