$aguamarina: #0F5F75;
$verde: #38D74F;
$amarillo: #F0E74A;
$naranja: #FFA536;
$rojo: #f01119;

$opensans: 'Open Sans', sans-serif;
$teko: 'Teko', sans-serif;

html {
    scroll-behavior: smooth;
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $opensans;
    background-color: rgb(54, 48, 48);
}

.contenedor {
    width: 100%;
}

header {
    width: 100%;
    .contenedor {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: rgb(27, 26, 26);
        align-items: center;
        color: $amarillo;
        font-family: $teko;
    }
    .first {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 5px;
        a {
            font-size: 2rem;
            height: 38px;
            margin-top: -5px;
            &:hover {
                color: $verde;
            }
        }
        form {
            background-color: white;
            display: flex;
            margin: auto 0;
            height: 25px;
            border-radius: 3.5px;
            input {
                border: none;
                width: 0;
                transition: all 0.5s ease-out;
                &:focus {
                    outline: 0;
                }
            }
            .display-search {
                background-color: $naranja;
                border-radius: 3px;
                width: 25px;
                color: $rojo;
                cursor: pointer;
                display: flex;
                &:hover {
                    background: $aguamarina;
                    color: $amarillo;
                }
                i {
                    margin: auto;
                    font-size: 16px;
                }
            }
            #display-search, .enviar {
                display: none;
                &:checked {
                    ~label {
                        border-radius: 0 3px 3px 0;
                    }
                    ~input {
                        width: 125px;
                        border-radius: 3px;
                        padding: 5px;
                    }
                }
            }
        }
    }
    a {
        color: inherit;
        i {
            font-size: 0.8rem;
        }
    }
    .header-nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: rgb(37, 37, 37);
        ul {
            list-style: none;
            text-transform: uppercase;
            display: none;
            li {
                display: inline-block;
                margin-bottom: -2px;
                padding: 3px 5px;
                transition: all 0.3s ease-out;
                &:hover {
                    background: $naranja;
                    color: white;

                }
            }
        }
        ul.user {
            display: initial;
            margin-left: auto;
            li {
                display: inline-block;
                font-size: 1rem;
                transition: none;
                &:hover {
                    background-color: initial;
                }
            }
        }
    }
    .menu-icon {
        height: 27px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        span {
            box-sizing: content-box;
            width: 22px;
            height: 2px;
            margin: 3px auto;
            background-color: $naranja;
            transition: all 0.3s ease-out;
        }
        &:hover span {
            background-color: white;
        }
        &:hover span {
            background-color: white;
        }
    }
    .mobile-nav {
        position: absolute;
        width: 100%;
        z-index: 2;
        left: -100%;
        padding: 5px;
        background-color: rgb(110, 110, 110);
        color: $amarillo;
        font-family: $teko;
        font-size: 1.2rem;
        opacity: 0;
        transition: all 0.5s ease-out;
        ul {
            height: 80px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li {
                width: 100%;
                border-bottom: 0.5px solid currentColor;
                &:hover {
                    color: white;
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
    #display-nav {
        display: none;
        &:checked {
            ~nav .menu-icon {
                span {
                    &:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }
            ~.mobile-nav {
                left: 0;
                opacity: 0.9;
            }
        }
    }
}
div.contenedor.principal {
    .slider{
        width: 100%;
        overflow: hidden;
        ul {
            display: flex;
            width: 400%;
            height: 400px;
            animation: switch 30s infinite;
            &:hover {
                li::before {
                    background-color: $aguamarina;
                }
            }
            li {
                list-style: none;
                height: 400px;
                width: 100%;
                position: relative;
                background-image: url(../imgs/machines.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                &::before {
                    content: "";
                    position: absolute;
                    top: 65%;
                    right: 0;
                    height: 35%;
                    width: 100%;
                    background-color: $naranja;
                    opacity: 0.8;
                    transition: background-color 0.4s ease-out;
                }
                &:nth-child(2) {
                    background-image: url(../imgs/paints.jpg);
                }
                &:nth-child(3) {
                    background-image: url(../imgs/repo.jpg);
                }
                &:nth-child(4) {
                    background-image: url(../imgs/envios.jpg);
                }
                h2, p {
                    z-index: 1;
                    color: white;
                    padding: 0 15px;
                }
                h2 {
                    position: absolute;
                    top: 67.5%;
                    width: 100%;
                    text-align: left;
                    font-size: 1.4rem;
                }
                p {
                    position: absolute;
                    bottom: 15px;
                    font-size: 0.8rem;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }
    .destacados {
        padding: 5px;
        background-color: white;
        color:$aguamarina;
        h2 {
            margin-left: 10px;
        }
        .wrapper {
            width: 100%;
            overflow-x: scroll;
            color: white;
            &::-webkit-scrollbar {
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 5px;
                background-color: lightgrey;
            }
            &::-webkit-scrollbar-thumb {
                box-shadow: inset 0 0 2.5px white;
                border-radius: 5px;
                background-color: $naranja;
            }
            .lista {
                display: flex;
                justify-content: space-evenly;
                width: calc(250px * 6 + 15px * 6);
                padding: 5px 0;
                margin-bottom: 3px;
                a {
                    width: 250px;
                    color: $aguamarina;
                    font-size: 0.8rem;
                    .item {
                        background-position: center;
                        background-size: cover;
                        width: 100%;
                        height: 250px;
                        border: 0.1px solid $naranja;
                        position: relative;
                        &.uno {
                            background-image: url(../imgs/amoladora.jpg);
                            position: relative;
                        }
                        &.dos {
                            background-image: url(../imgs/kit.jpg);
                        }
                        &.tres {
                            background-image: url(../imgs/mechas.jpg);
                        }
                        &.cuatro {
                            background-image: url(../imgs/ladrillo.png);
                        }
                        &.cinco {
                            background-image: url(../imgs/taladro.jpg);
                        }
                        &.seis {
                            background-image: url(../imgs/destornilladores.jpg);
                        }
                    }
                    .item::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        background-color: $rojo;
                        width: 100%;
                        height: 100%;
                        transform: translate(-50% -50%);
                        opacity: 0;
                        transform: scale(0);
                        transition: all 0.4s ease-out;
                    }
                    .item::after {
                        content: "Ver más";
                        position: absolute;
                        z-index: 1;
                        width: 100%;
                        height: 3rem;
                        text-align: center;
                        top: 50%;
                        color: white;
                        font-family: $teko;
                        font-size: 3rem;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: opacity 0.3s ease-out;
                    }
                    &:hover {
                        color: $rojo;
                        .item::before {
                            transform: scale(1);
                            background-color: $naranja;
                            opacity: 0.8;
                        }
                        .item::after {
                            opacity: 1;
                        }
                    }
                    p {
                        text-align: center;
                    }
                }
            }
        }
    }
}
.panel-c {
    position: fixed;
    z-index: 1;
    top: 65%;
    input {
        display: none;
    }
    i {
        height: 29px;
        width: 29px;
        text-align: center;
        padding: 5px;
    }
    div i {
        display: block;
        cursor: pointer;
        transform: scale(0);
        transition: all 0.3s linear;
        &:nth-child(1), &:nth-child(2) {
            font-size: 1.2rem;
        }
        &:first-child {
            background-color: #4267B2;
            color: white;
        }
        &:nth-child(2) {
            background: linear-gradient(45deg, #FFDC80, #fcaf45, #f77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5851DB, #405DE6);
            color: white;
        }
        &:nth-child(3) {
            background-color: white;
            color: rgb(165, 23, 23);
        }
        &:nth-child(4) {
            background-color: $verde;
            color: white;
        }
        &:hover {
            width: 60px;
        }
    }
    label i {
        margin-top: 3px;
        background-color: $verde;
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
    }
    #display-c:checked~div i {
        transform: scale(1);
    }
}
footer {
    width: 100%;
    color: whitesmoke;
    .contenedor {
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(37, 37, 37);
        div {
            padding: 5px;
            h5 {
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 550;
                margin-bottom: 5px;
            }
            p, li {
                font-size: 0.6rem;
                padding-left: 3px;
                margin-bottom: 2px;
                color: grey;
            }
            ul {
                li {
                    list-style: none;
                }
            }
            a {
                color: inherit;
                &:hover {
                    color: white;
                }
            }
        }
        .map {
            display: none;
        }
        .soporte, .información, .cuenta, .ubicacion {
            margin-top: 5%;
        }
        .ubicacion {
            width: 150px;
        }
    }
    .contenedor:nth-of-type(2) {
        justify-content: space-between;
        align-items: center;
        background-color: rgb(44, 43, 43);
        img {
            width: 50px;
            padding: 5px 0;
        }
    }
}

@keyframes switch {
    0% {margin-left: 0;}
    22% {margin-left: 0;}
    25% {margin-left: -100%;}
    47% {margin-left: -100%;}
    50% {margin-left: -200%;}
    72% {margin-left: -200%;}
    75% {margin-left: -300%;}
    97% {margin-left: -300%;}
    100% {margin-left: 0;}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .contenedor {
        width: 80%;
        margin: 0 10%;
    }
    header {
        .contenedor {
            box-sizing: content-box;
            padding: 5px 10%;
            margin: 0;
        }
        .header-nav {
            padding: 0 10%;
            align-items: center;
            ul {
                display: block;
                li {
                    font-size: 1.2rem;
                }
            }
        }
        .menu-icon {
            display: none;
        }
        .mobile-nav {
            display: none;
        }
    }
    div.contenedor.principal {
        .slider{
            ul {
                li {
                    &::before {
                        height: 100%;
                        width: 60%;
                        top: 0;
                        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
                    }
                    h2, p {
                        right: 3%;
                        padding: 0;
                    }
                    h2 {
                        font-size: 1.5rem;
                        top: 70px;
                        width: fit-content;
                    }
                    p {
                        width: 40%;
                        font-size: 0.9rem;
                        bottom: 40px;
                        text-align: right;
                    }
                }
            }
        }
    }
    footer {
        .contenedor {
            justify-content: space-between;
            box-sizing: content-box;
            padding: 5px 10%;
            margin: 0;
        }
    }
}

/* Dispositivos grandes (laptops/PCs, +992px) */
@media only screen and (min-width: 992px) {
    div.contenedor.principal {
        .slider{
            ul {
                li {
                    &::before {
                        height: 100%;
                        width: 50%;
                        top: 0;
                        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
                    }
                    h2, p {
                        right: 5%;
                    }
                }
            }
        }
    }
    footer {
        .contenedor {
            div {
                h5 {
                    font-size: 1rem;
                }
                li, p {
                    font-size: 0.9rem;
                }
                
            }
            .map {
                display: initial;
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
    .panel-c {
        position: fixed;
        z-index: 1;
        top: 65%;
        input {
            display: none;
        }
        i {
            height: 34px;
            width: 34px;
        }
        i:nth-child(3) {
            height: 34px;
            padding-top: 7px;
            padding-bottom: 3px;
        }
        i:nth-child(4) {
            padding-top: 7px;
            padding-bottom: 3px;
        }
    }
}