$aguamarina: #0F5F75;
$verde: #38D74F;
$amarillo: #F0E74A;
$naranja: #FFA536;
$rojo: #f01119;

$opensans: 'Open Sans', sans-serif;
$teko: 'Teko', sans-serif;

html {
    font-size: 16px;
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $opensans;
    .contenedor {
        width: 80%;
        margin: 0 10%;
        .destacados{
            width: 100%;
            overflow: hidden;
            ul {
                display: flex;
                width: 400%;
                height: 350px;
                animation: switch 30s infinite;
                li {
                    list-style: none;
                    background-color: red;
                    height: 350px;
                    width: 100%;
                    position: relative;
                    &:nth-child(2) {
                        background-color: rebeccapurple;
                    }
                    &:nth-child(3) {
                        background-color: blue;
                    }
                    &:nth-child(4) {
                        background-color: green;
                    }
                    h4 {
                        position: absolute;
                        bottom: 100px;
                        width: 100%;
                        text-align: center;
                    }
                    p {
                        position: absolute;
                        bottom: 50px;
                        font-size: 0.8rem;
                        width: 80%;
                        text-align: center;
                        left: 10%;
                    }
                }
            }
        }
    }
    header {
        width: 100%;
        .contenedor {
            width: 100%;
            margin: 0;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: rgb(27, 26, 26);
            align-items: center;
            color: $amarillo;
            padding: 10px 10%;
            font-family: $teko;
        }
        .first {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            a {
                font-size: 2.4rem;
                height: 38px;
                margin-top: -10px;
                &:hover {
                    color: $verde;
                }
            }
            form {
                background-color: white;
                display: flex;
                align-items: center;
                border-radius: 2px;
                input {
                    border: none;
                    padding: 0 5px;
                }
                button {
                    border: none;
                    background-color: $naranja;
                    height: 30px;
                    width: 30px;
                    border-radius: 0 2px 2px 0;
                    color: $rojo;
                    cursor: pointer;
                    &:hover {
                        background: $aguamarina;
                        color: $amarillo;
                    }
                }
                input, button {
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
        a {
            color: inherit;
            i {
                font-size: 0.8rem;
            }
        }
        .header-nav {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 10%;
            background-color: rgb(37, 37, 37);
            ul {
                list-style: none;
                text-transform: uppercase;
                margin-right: 15px;
                li {
                    display: inline-block;
                    padding: 5px 6px;
                    margin-bottom: -5px;
                    font-size: 1.5rem;
                    &:hover {
                            color: $naranja;
                            background-color: $aguamarina;
                    }
                }
               
            }
            ul:nth-child(2) {
                height: 26px;
                li {
                    display: inline-block;
                    padding: 0 3px;
                    font-size: 1rem;
                    &:hover {
                        background-color: initial;
                    }
                }
            }
        }
    }
    .panel-c {
        position: fixed;
        top: 60%;
        * {
            display: block;
            padding: 5px;
            text-align: center;
            width: 26px;
            transition: width 0.3s linear;
        }
        i:nth-child(1), i:nth-child(2) {
            font-size: 1.2rem;
        }
        i:first-child {
            background-color: #4267B2;
            color: white;
        }
        i:nth-child(2) {
            background: linear-gradient(45deg, #FFDC80, #fcaf45, #f77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5851DB, #405DE6);
            color: white;
        }
        i:nth-child(3) {
            background-color: white;
            color: rgb(165, 23, 23);
        }
        i:nth-child(4) {
            background-color: $verde;
            color: white;
        }
        i:hover {
            width: 60px;
        }
    }
    footer {
        width: 100%;
        color: whitesmoke;
        .contenedor {
            margin: 0;
            padding: 0 10%;
            box-sizing: content-box;
            display: flex;
            justify-content: space-evenly;
            background-color: rgb(37, 37, 37);
            div {
                padding: 5px;
                h5 {
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 550;
                    margin-bottom: 5px;
                }
                p, li {
                    font-size: 0.8rem;
                    padding-left: 3px;
                    color: grey;
                }
                ul {
                    li {
                        list-style: none;
                    }
                }
                a {
                    color: inherit;
                    &:hover {
                        color: white;
                    }
                }
            }
            .soporte, .información, .cuenta, .ubicacion {
                margin-top: 5%;
            }
            .ubicacion {
                width: 150px;
            }
        }
        .contenedor:nth-of-type(2) {
            justify-content: space-between;
            align-items: center;
            background-color: rgb(44, 43, 43);
            img {
                width: 50px;
                padding: 5px 0;
            }
        }
    }
}

@keyframes switch {
    0% {margin-left: 0;}
    22% {margin-left: 0;}
    25% {margin-left: -100%;}
    47% {margin-left: -100%;}
    50% {margin-left: -200%;}
    72% {margin-left: -200%;}
    75% {margin-left: -300%;}
    97% {margin-left: -300%;}
    100% {margin-left: 0;}
}