$aguamarina: #0F5F75;
$verde: #38D74F;
$amarillo: #F0E74A;
$naranja: #FFA536;
$rojo: #f01119;

$opensans: 'Open Sans', sans-serif;
$teko: 'Teko', sans-serif;

html {
    font-size: 16px;
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: $opensans;
    background-color: grey;
    .contenedor {
        width: 80%;
    }
    footer .contenedor, header .contenedor {
        box-sizing: content-box;
        padding: 10px 10%;
    }
    header {
        width: 100%;
        .contenedor {
            margin: 0;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: rgb(27, 26, 26);
            align-items: center;
            color: $amarillo;
            font-family: $teko;
        }
        .first {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            a {
                font-size: 2.4rem;
                height: 38px;
                margin-top: -10px;
                &:hover {
                    color: $verde;
                }
            }
            form {
                background-color: white;
                display: flex;
                align-items: center;
                border-radius: 2px;
                input {
                    border: none;
                    padding: 0 5px;
                }
                button {
                    border: none;
                    background-color: $naranja;
                    height: 30px;
                    width: 30px;
                    border-radius: 0 2px 2px 0;
                    color: $rojo;
                    cursor: pointer;
                    &:hover {
                        background: $aguamarina;
                        color: $amarillo;
                    }
                }
                input, button {
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
        a {
            color: inherit;
            i {
                font-size: 0.8rem;
            }
        }
        .header-nav {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 0 10%;
            background-color: rgb(37, 37, 37);
            ul {
                list-style: none;
                text-transform: uppercase;
                margin-right: 15px;
                li {
                    display: inline-block;
                    padding: 5px 6px;
                    margin-bottom: -5px;
                    font-size: 1.5rem;
                    &:hover {
                            background: $naranja;
                            color: white;
                    }
                }
               
            }
            ul:nth-child(2) {
                height: 26px;
                li {
                    display: inline-block;
                    padding: 0 3px;
                    font-size: 1rem;
                    &:hover {
                        background-color: initial;
                    }
                }
            }
        }
    }
    div.contenedor.principal {
        margin: 0 10%;
        .slider{
            width: 100%;
            overflow: hidden;
            ul {
                display: flex;
                width: 400%;
                height: 400px;
                animation: switch 30s infinite;
                &:hover {
                    li::before {
                        background-color: $aguamarina;
                    }
                }
                li {
                    list-style: none;
                    height: 400px;
                    width: 100%;
                    position: relative;
                    background-image: url(../imgs/machines.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    &::before {
                        content: "";
                        position: absolute;
                        right: -0.5px;
                        bottom: -0.5px;
                        height: 100%;
                        width: 50%;
                        background-color: $naranja;
                        opacity: 0.8;
                        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
                        transition: background-color 0.4s ease-out;
                    }
                    &:nth-child(2) {
                        background-image: url(../imgs/paints.jpg);
                    }
                    &:nth-child(3) {
                        background-image: url(../imgs/repo.jpg);
                    }
                    &:nth-child(4) {
                        background-image: url(../imgs/envios.jpg);
                    }
                    h2, p {
                        z-index: 1;
                        color: white;
                    }
                    h2 {
                        position: absolute;
                        top: 70px;
                        right: 6%;
                        font-size: 1.7rem;
                    }
                    p {
                        position: absolute;
                        bottom: 50px;
                        font-size: 0.8rem;
                        width: 30%;
                        text-align: right;
                        right: 6%;
                    }
                }
            }
        }
        .destacados {
            padding: 5px;
            background-color: white;
            color:$aguamarina;
            h2 {
                margin-left: 10px;
            }
            .wrapper {
                width: 100%;
                overflow-x: scroll;
                color: white;
                &::-webkit-scrollbar {
                    height: 8px;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 5px;
                    background-color: lightgrey;
                }
                &::-webkit-scrollbar-thumb {
                    box-shadow: inset 0 0 2.5px white;
                    border-radius: 5px;
                    background-color: $naranja;
                }
                .lista {
                    display: flex;
                    justify-content: space-evenly;
                    width: calc(250px * 6 + 15px * 6);
                    padding: 5px 0;
                    margin-bottom: 3px;
                    a {
                        width: 250px;
                        color: $aguamarina;
                        font-size: 0.8rem;
                        .item {
                            background-position: center;
                            background-size: cover;
                            width: 100%;
                            height: 250px;
                            border: 0.1px solid $naranja;
                            position: relative;
                            &.uno {
                                background-image: url(../imgs/amoladora.jpg);
                                position: relative;
                            }
                            &.dos {
                                background-image: url(../imgs/kit.jpg);
                            }
                            &.tres {
                                background-image: url(../imgs/mechas.jpg);
                            }
                            &.cuatro {
                                background-image: url(../imgs/ladrillo.png);
                            }
                            &.cinco {
                                background-image: url(../imgs/taladro.jpg);
                            }
                            &.seis {
                                background-image: url(../imgs/destornilladores.jpg);
                            }
                        }
                        .item::before {
                            content: "";
                            position: absolute;
                            z-index: 1;
                            background-color: $rojo;
                            width: 100%;
                            height: 100%;
                            transform: translate(-50% -50%);
                            opacity: 0;
                            transform: scale(0);
                            transition: all 0.4s ease-out;
                        }
                        .item::after {
                            content: "Ver más";
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            height: 3rem;
                            text-align: center;
                            top: 50%;
                            color: white;
                            font-family: $teko;
                            font-size: 3rem;
                            transform: translateY(-50%);
                            opacity: 0;
                            transition: opacity 0.3s ease-out;
                        }
                        &:hover {
                            color: $rojo;
                            .item::before {
                                transform: scale(1);
                                background-color: $naranja;
                                opacity: 0.8;
                            }
                            .item::after {
                                opacity: 1;
                            }
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    .panel-c {
        position: fixed;
        top: 60%;
        * {
            display: block;
            padding: 5px;
            text-align: center;
            width: 26px;
            transition: width 0.3s linear;
            cursor: pointer;
        }
        i:nth-child(1), i:nth-child(2) {
            font-size: 1.2rem;
        }
        i:first-child {
            background-color: #4267B2;
            color: white;
        }
        i:nth-child(2) {
            background: linear-gradient(45deg, #FFDC80, #fcaf45, #f77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5851DB, #405DE6);
            color: white;
        }
        i:nth-child(3) {
            background-color: white;
            color: rgb(165, 23, 23);
        }
        i:nth-child(4) {
            background-color: $verde;
            color: white;
        }
        i:hover {
            width: 60px;
        }
    }
    footer {
        width: 100%;
        color: whitesmoke;
        .contenedor {
            margin: 0;
            box-sizing: content-box;
            display: flex;
            justify-content: space-evenly;
            background-color: rgb(37, 37, 37);
            div {
                padding: 5px;
                h5 {
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 550;
                    margin-bottom: 5px;
                }
                p, li {
                    font-size: 0.8rem;
                    padding-left: 3px;
                    color: grey;
                }
                ul {
                    li {
                        list-style: none;
                    }
                }
                a {
                    color: inherit;
                    &:hover {
                        color: white;
                    }
                }
            }
            .map {
                padding-bottom: 0;
            }
            .soporte, .información, .cuenta, .ubicacion {
                margin-top: 5%;
            }
            .ubicacion {
                width: 150px;
            }
        }
        .contenedor:nth-of-type(2) {
            justify-content: space-between;
            align-items: center;
            background-color: rgb(44, 43, 43);
            img {
                width: 50px;
                padding: 5px 0;
            }
        }
    }
}

@keyframes switch {
    0% {margin-left: 0;}
    22% {margin-left: 0;}
    25% {margin-left: -100%;}
    47% {margin-left: -100%;}
    50% {margin-left: -200%;}
    72% {margin-left: -200%;}
    75% {margin-left: -300%;}
    97% {margin-left: -300%;}
    100% {margin-left: 0;}
}