html {
  font-size: 16px;
}

html * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .contenedor {
  width: 90%;
  margin: 0 10% 0 10%;
}

body .contenedor .destacados {
  width: 100%;
  overflow: hidden;
}

body .contenedor .destacados ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600%;
  height: 350px;
  -webkit-animation: switch 20s infinite;
          animation: switch 20s infinite;
}

body .contenedor .destacados ul li {
  list-style: none;
  background-color: red;
  height: 350px;
  width: 100%;
  position: relative;
}

body .contenedor .destacados ul li:nth-child(2) {
  background-color: rebeccapurple;
}

body .contenedor .destacados ul li:nth-child(3) {
  background-color: blue;
}

body .contenedor .destacados ul li:nth-child(4) {
  background-color: green;
}

body .contenedor .destacados ul li:nth-child(5) {
  background-color: pink;
}

body .contenedor .destacados ul li:nth-child(6) {
  background-color: aqua;
}

body .contenedor .destacados ul li h4 {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}

body .contenedor .destacados ul li p {
  position: absolute;
  bottom: 15px;
  font-size: 0.8rem;
  width: 80%;
  text-align: center;
  left: 10%;
}

body header.contenedor {
  width: 100%;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1b1a1a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F0E74A;
  padding: 10px 10%;
  font-family: "Teko", sans-serif;
}

body header.contenedor .first, body header.contenedor .header-nav {
  width: 100%;
}

body header.contenedor .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -10px;
}

body header.contenedor .first a {
  font-size: 2.4rem;
  height: 40px;
}

body header.contenedor .first div {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
}

body header.contenedor .first div input {
  border: none;
  height: 20px;
}

body header.contenedor .first div button {
  border: none;
  background-color: #FFA536;
  height: 30px;
  width: 30px;
  border-radius: 0 2px 2px 0;
  color: #f01119;
  cursor: pointer;
}

body header.contenedor a {
  color: inherit;
}

body header.contenedor a i {
  font-size: 0.8rem;
}

body header.contenedor .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header.contenedor .header-nav ul {
  list-style: none;
  text-transform: uppercase;
  height: 34px;
  padding: 5px;
}

body header.contenedor .header-nav ul li {
  display: inline-block;
  padding: 0 3px 0 0;
  font-size: 1.5rem;
}

body header.contenedor .header-nav ul:nth-child(2) {
  height: 26px;
}

body header.contenedor .header-nav ul:nth-child(2) li {
  display: inline-block;
  padding: 0 3px;
  font-size: 1rem;
}

@-webkit-keyframes switch {
  0% {
    margin-left: 0;
  }
  12% {
    margin-left: 0;
  }
  16% {
    margin-left: -100%;
  }
  38% {
    margin-left: -100%;
  }
  42% {
    margin-left: -200%;
  }
  54% {
    margin-left: -200%;
  }
  58% {
    margin-left: -300%;
  }
  62% {
    margin-left: -300%;
  }
  66% {
    margin-left: -400%;
  }
  78% {
    margin-left: -400%;
  }
  82% {
    margin-left: -500%;
  }
  86% {
    margin-left: -500%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes switch {
  0% {
    margin-left: 0;
  }
  12% {
    margin-left: 0;
  }
  16% {
    margin-left: -100%;
  }
  38% {
    margin-left: -100%;
  }
  42% {
    margin-left: -200%;
  }
  54% {
    margin-left: -200%;
  }
  58% {
    margin-left: -300%;
  }
  62% {
    margin-left: -300%;
  }
  66% {
    margin-left: -400%;
  }
  78% {
    margin-left: -400%;
  }
  82% {
    margin-left: -500%;
  }
  86% {
    margin-left: -500%;
  }
  100% {
    margin-left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */