<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferreteria Saavedra: Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/master.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="first">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2><a href="">FS</a></h2>
                    </div>
                    <div class="col-7">
                        <form action="">
                            <div class="form-wrapper">
                                <input type="text" placeholder="¿Qué buscás?">
                                <i class="fas fa-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <nav id="sesion">
                            <ul>
                                <li><a href="Ingresar.html">Ingresar</a></li>
                                <li><a href="registrarse.html">Registrarme</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="container">
                <div class="row">
                    <div class="col categorias">
                        <button>
                            <h4>Categorías</h4>
                            <i class="fas fa-chevron-down"></i>
                        </button>
                        <div class="drop">
                            <a href=""><span>Categoría 1</span><i class="fas fa-chevron-right"></i></a>
                            <a href=""><span>Categoría 2</span><i class="fas fa-chevron-right"></i></a>
                            <a href=""><span>Categoría 3</span><i class="fas fa-chevron-right"></i></a>
                            <a href=""><span>Categoría 4</span><i class="fas fa-chevron-right"></i></a>
                            <a href=""><span>Categoría 5</span><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-10">
                        <nav>
                            <ul>
                                <li><a href="">Productos</a></li>
                                <li><a href="">Preguntas frecuentes</a></li>
                                <li><a href="">¿Cómo comprar?</a></li>
                                <li><a href="">Contacto</a></li>
                                <li><a href=""><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="contenido">
        <div class="slider">
            <div id="slide-wrapper">
                <div class="slide" id="slide-1">
                    <div class="desc">
                        <h4>Calidad garantizada</h4>
                        <p>
                            Proveemos solamente los productos de mayor calidad y de marcas del mayor renombre en la
                            industria, con tal de mejorar la experiencia de nuestros clientes. <a href="#">Ver
                                más...</a>
                        </p>
                    </div>
                </div>
                <div class="slide" id="slide-2">
                    <div class="desc">
                        <h4>Pinturería</h4>
                        <p>
                            Tenemos materiales para la construcción y pinturería. <a href="#">Ver más...</a>
                        </p>
                    </div>
                </div>
                <div class="slide" id="slide-3">
                    <div class="desc">
                        <h4>¡Tenemos stock!</h4>
                        <p>
                            Nos manejamos por pedidos, por lo que, en caso de no tener algo de momento, lo encargaremos
                            y en
                            un par de días será tuyo. <br><a href="#">Aprendé más sobre cómo manejamos las ventas...</a>
                        </p>
                    </div>
                </div>
                <div class="slide" id="slide-4">
                    <div class="desc">
                        <h4>¡Hacemos envíos!</h4>
                        <p>Seguí trabajando, mientras nosotros nos encargamos de llevarte lo que necesites. <a
                                href="#">Aprendé más sobre nuestros envíos...</a></p>
                    </div>
                </div>
                <a class="prev" onclick="previousSlide()">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a class="next" onclick="nextSlide()">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
            <div id="current">
                <div class="indicator" data-value="0" onclick="currentSlide(this.getAttribute('data-value'))"></div>
                <div class="indicator" data-value="1" onclick="currentSlide(this.getAttribute('data-value'))"></div>
                <div class="indicator" data-value="2" onclick="currentSlide(this.getAttribute('data-value'))""></div>
                <div class=" indicator" data-value="3" onclick="currentSlide(this.getAttribute('data-value'))"></div>
            </div>
        </div>
        <div class="container">
            <h2>Productos destacados</h2>
            <div class="wrapper">
                <div class="lista">
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Amoladora angular Black+Decker<br>
                            <span>Precio: $3.360.</span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Set de llaves Stanley 79 piezas<br>
                            <span>Precio: $11.479.</span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Juego de mechas Bosch 30 piezas<br>
                            <span>Precio: $2.000.</span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Ladrillo de cemento<br>
                            <span>Precio: $150.</span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Taladro atornillador inalámbrico<br>
                            <span>Precio: $4.800.</span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Set de 18 destornilladores Crossmaster<br>
                            <span>Precio: $2.300.</span>
                        </p>
                    </a>
                </div>
            </div>
            <h2>Ofertas</h2>
            <div class="wrapper">
                <div class="lista">
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Brocha cerda negra 3<br>
                            <span class="viejo">
                                $6.419
                            </span>
                            <span class="nuevo">
                                $5.999
                            </span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Pretul, Taladro 3/8'<br>
                            <span class="viejo">
                                $3.869
                            </span>
                            <span class="nuevo">
                                $3.199
                            </span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Martillo clásico Stalwart<br>
                            <span class="viejo">
                                $2.000
                            </span>
                            <span class="nuevo">
                                $1.500
                            </span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Lijadora Roto Orbital Metabo FSX 200<br>
                            <span class="viejo">
                                $9.500
                            </span>
                            <span class="nuevo">
                                $8.900
                            </span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Regla de Precision Line Master 80CM<br>
                            <span class="viejo">
                                $2.300
                            </span>
                            <span class="nuevo">
                                $1.900
                            </span>
                        </p>
                    </a>
                    <a href="">
                        <div class="item"></div>
                        <p>
                            Aceite lubricante multiuso WD-40<br>
                            <span class="viejo">
                                $225
                            </span>
                            <span class="nuevo">
                                $170
                            </span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer>
        <div class="wrapper">
            <div class="container">
                <div class="soporte">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="">Nuestras marcas</a></li>
                    </ul>
                </div>
                <div class="información">
                    <h5>Información</h5>
                    <ul>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Cómo llegar</a></li>
                        <li><a href="#">Garantías</a></li>
                    </ul>
                </div>
                <div class="cuenta">
                    <h5>Mi cuenta</h5>
                    <ul>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Carrito</a></li>
                        <li><a href="#">Programación de pedidos</a></li>
                        <li><a href="#">Historial de compras</a></li>
                    </ul>
                </div>
                <div class="ubicacion">
                    <h5>Ubicación</h5>
                    <p><a target="_blank"
                            href="https://www.google.com/maps/place/Ferreter%C3%ADa+Saavedra/@-38.723543,-62.265592,15z/data=!4m5!3m4!1s0x0:0x79b1eca73c23b0da!8m2!3d-38.7235425!4d-62.2655918?hl=es-419">Saavedra
                            332, B8000 Bahía Blanca, Buenos Aires.</a></p>
                </div>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3112.750233932251!2d-62.26559199999999!3d-38.723543!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x79b1eca73c23b0da!2sFerreter%C3%ADa%20Saavedra!5e0!3m2!1ses-419!2sar!4v1591224192412!5m2!1ses-419!2sar"
                        width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="container">
                <small>@ 2020 Ferretería Saavedra</small>
                <img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="data fiscal">
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/79cc46baec.js" crossorigin="anonymous"></script>
    <script src="../js/demo.js"></script>
</body>

</html>