<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferretería Saavedra: Ingresar</title>
    <link rel="stylesheet" href="../css/ingresar.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="contenedor first">
            <a href="index.html" id="enlace1">Ferretería Saavedra</a>
        </div>
    </header>
        <section>     
            <form>
                <h2>
                    ¡Hola! Ingresa tu mail y contraseña
                </h2>
                <input type="text" id="mail" name="mail" placeholder="Escriba su email">
                <input type="password" id="mail" name="contraseña" placeholder="Escriba su contraseña">
                    <button type="submit" class="ingresar">
                        <p>
                            Ingresar
                        </p>
                    </button>
                    <button type="submit" class="registrar">
                        <p>
                            Registrarse
                        </p>
                    </button>
            </form>
        </section>
        <footer>
            <div class="contenedor">
                <div class="soporte">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="">Nuestras marcas</a></li>
                    </ul>
                </div>
                <div class="información">
                    <h5>Información</h5>
                    <ul>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Cómo llegar</a></li>
                        <li><a href="#">Garantías</a></li>
                    </ul>
                </div>
                <div class="cuenta">
                    <h5>Mi cuenta</h5>
                    <ul>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Carrito</a></li>
                        <li><a href="#">Programación de pedidos</a></li>
                        <li><a href="#">Historial de compras</a></li>
                    </ul>
                </div>
                <div class="ubicacion">
                    <h5>Ubicación</h5>
                    <p><a target="_blank" href="https://www.google.com/maps/place/Ferreter%C3%ADa+Saavedra/@-38.723543,-62.265592,15z/data=!4m5!3m4!1s0x0:0x79b1eca73c23b0da!8m2!3d-38.7235425!4d-62.2655918?hl=es-419">Saavedra 332, B8000 Bahía Blanca, Buenos Aires.</a></p>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3112.750233932251!2d-62.26559199999999!3d-38.723543!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x79b1eca73c23b0da!2sFerreter%C3%ADa%20Saavedra!5e0!3m2!1ses-419!2sar!4v1591224192412!5m2!1ses-419!2sar" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="contenedor">
                <small>@ 2020 Ferretería Saavedra</small>
                <img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" alt="data fiscal">
            </div>
        </footer>
    <script src="https://kit.fontawesome.com/79cc46baec.js" crossorigin="anonymous"></script>
</body>
</html>

